.name a {
    color: grey;
}
.rightsec input {
    background: transparent;
    border: 1px solid #2e3c56;
}
.rightsec input:focus {
    background: transparent;
}
textarea {
    background: transparent !important;
    border: 1px solid #2e3c56 !important;
}
.file {
    border: 2px dashed #2e3c56;
    border-radius: 5px;
}
.rightdesc img {
    border-radius: 50%;
}
input.form-control {
    color: white !important;
}
.progress {
    height: 6px !important;
    background: #2e3a59 !important;
}
@media(max-width:850px){
    .bg-main{
        padding: 0 16px;
    }
}