* {
    margin: 0;
    padding: 0;
    color: white;
}
:root {
    ---rojo-content: "#FF2065";
}
body {
    overflow-x: hidden;
    background: #162131 !important;
}
.card {
    background: transparent !important;
}
@media (min-width: 1500px) {
    .container-custom {
        max-width: 1630px;
        margin: auto;
    }
}
@media (min-width: 800px) AND (max-width: 1499px) {
    .container-custom {
        max-width: 1300px;
        margin: auto;
    }
}
.nav-tabs {
    border-bottom: none !important;
}
.bg-main {
    background: #162131;
}
.bg-purple {
    background: #8a57ef;
}
.text-28 {
    font-size: 28px;
}
.text-41 {
    font-size: 41px;
}
.text-31 {
    font-size: 31px;
}
.text-21 {
    font-size: 21px;
}
.text-26 {
    font-size: 23px;
}
.text-23 {
    font-size: 23px;
}
.darkcard {
    background: #101928 !important;
    border-radius: 10px;
}
.text-secondary {
    color: #95a3bf !important;
}
.secondnav {
    background: #101927;
    padding-top: 65px;
}
.bg-secondary-color {
    background: #f5f5f7;
}
.container-comunidad {
    max-width: 1143px;
    margin: auto;
}

.tab {
    display: flex;
  overflow: scroll;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 16px;
  color:white
}


.tab button:hover {
  border-bottom:3px solid #FF2065
}


.tab button.active {
  color: #FF2065;
  border-bottom:3px solid #FF2065
}


.tabcontent {
  display: none;
  padding: 6px 12px;
}
.default-tab{
display:block
}
.small2ndnav {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row;
}
@media(max-width:850px){
    a.navbar-brand.font-weight-bold {
        margin: auto;
    }
    .cd-as{
        justify-content: center !important;
        margin: auto;
    }
    .cardtext{
        margin-top: 28px;
    }
    .container-comunidad {
    max-width:690px;
}
    .content-desktop{
        display: none !important;
    }
    .secondnav{
        padding-top: 0px;
    }
    .small2ndnav {
        display: flex !important;
        justify-content: start !important;
        flex-direction: row;
    }
    .text-41 {
        font-size: 31px;
    }
}
@media(min-width:850px){
    .content-mobile{
        display: none !important; 
    }
    #navbarmobile{
        display: none;
    }

}
.row{
    margin: 0;
}
.navbar::after{
    display: none;
}
.mobile-menu{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #101927;
    font-size: 9px;
    padding:10px 0px 7px 0px
}
.mobile-menu svg{
    margin-bottom: 5px;
}
.curso{
    padding-bottom: 20px;
    border-bottom: solid 1px #f2f2f22e;
}
.curso a:hover{
    color:#FF2065
}
.cart-icon{
    position: absolute;
    right: 20px;
    top: calc(50% - 10px );
}
.gradient-cursos{
    width: 100%;
    height: 50px;
    background: linear-gradient(0deg, rgba(16,25,39,1) 0%, rgba(255,255,255,0) 100%);
    position: absolute;
    top: -50px;
}
.unete-2sd{
    width: 100%;
    height: 60px;
    background: #373737;
    display: flex;
    place-items: center;
    padding: 0 2rem;
}
.transition-timer-carousel-progress-bar{
    background: white;
    height: 2px;
}
@media(min-width:850px){
    .unete-2sd{
        height: 89px;
    }
}
.register {
    visibility: hidden;
    transition: all 0.4s;
    opacity: 0;
}
.register.open {
    visibility: visible;
    opacity: 1;
}

.register,
.modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

.register,
.modal-card,
.modal-body {
    display: flex;
    justify-content: center;
}

.modal-content {
    overflow: auto;
    flex-grow: 1;
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.modal-body {
    z-index: 999;
    margin: auto;
    max-height: calc(100vh - 1rem);
    max-width: calc(100vw - 1rem);
    border-radius: 10px;
    overflow: hidden;
    width:923px;
    height: 671px;
    background: white;
    padding: 0 !important;
}


.modal-header {
    background: rebeccapurple;
    text-transform: capitalize;
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}
.fixed-top{
    z-index: 999 !important;
}
.btn-socials{
    height: 54px;
    border: 1px solid #CECCCC !important;
}
.img-fit{
    object-fit: contain;
}
a.btn.flex.btn-socials {
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.btn-facebook{
    background: #1C407C !important;
    color:white !important
}
.btn-apple{
    background: #000000;
}
.form-content input{
width: 100%;
border-bottom: 1px solid #7A7A7A;
background: white;
}
.input-modal {
    background-color : transparent !important; 
    padding: 10px 0px;
  }
  .registrarse-modal{
      background: #0057D2 !important;
      border-radius: 5px;
      color:white !important;
      width: 100%;
      margin-top: 28px;
  }
  .font-11{
      font-size: 11px;
      color: #7A7A7A;
  }